.unity-foldout
{
    padding-left:0px;
    padding-right:0px;
    border-width: 1px 0px 1px 0px;
    border-color: rgb(127,127,127);
}

.unity-foldout__toggle:focus>.unity-toggle__input>Label
{
    -unity-font-style: bold;
}
.unity-foldout__toggle>.unity-toggle__input>Label
{
    -unity-font-style: bold;
}
 
.unity-foldout__content
{
    -unity-font-style: normal;
    background-color: rgb(194,194,194);
    margin-left: 0px;
    padding-right:7px;
}